<template name="newEmployee">
	<div class="ui stackable centered grid">
		<div class="ui twelve wide column">
			<form class="ui form">
				<div class="ui stacked segment">
					<h4 class="ui dividing header">Datos Personales</h4>
					<div class="field">
						<label>Nombre Completo</label>
						<div class="two fields">
							<div class="field">
								<input type="text" name="forenames" id="forenames" placeholder="Nombres">
							</div>
							<div class="field">
								<input type="text" name="surnames" id="surnames" placeholder="Apellidos">
							</div>
						</div>
						<div class="fields">
							<div class="four wide field">
								<label for="sex">Sexo</label>
								<div class="ui fluid selection dropdown" id="sex">
									<input type="hidden" name="sex" >
									<i class="dropdown icon"></i>
									<div class="default text">Seleccionar...</div>
									<div class="menu">
										{{#each sexes}}
											<div class="item" data-value="{{name}}"><i class="{{icon}} icon"></i>{{name}}</div>
										{{/each}}
									</div>
								</div>
							</div>
							<div class="eight wide field">
								<label for="country">Nacionalidad</label>
								<div class="ui fluid search selection dropdown" id="country">
									<input type="hidden" name="country">
									<i class="dropdown icon"></i>
									<div class="default text">Seleccionar...</div>
									<div class="menu">
										{{#each countries}}
											<div class="item" data-value="{{name}}"><i class="{{abbreviation}} flag"></i>{{capitalize esp_name}}</div>
										{{/each}}
									</div>
								</div>
							</div>
						</div>
						<div class="fields">
							<div class="ten wide field">
								<label>Teléfonos</label>
								<div class="two fields">
									<div class="field">
										<input type="tel" name="office_phone" id="office_phone" placeholder="Oficina">
									</div>
									<div class="field">
										<input type="tel" name="mobile_phone" id="mobile_phone" placeholder="Celular">
									</div>
								</div>
							</div>
							<div class="six wide field">
								<label>Correo Electrónico</label>
								<input type="email" name="email" id="email" placeholder="usuario@dominio.com">
							</div>	
						</div>
						<h4 class="ui dividing header">
							Datos Laborales
						</h4>
						<div class="fields">
							<div class="ten wide field">
								<label>Cargo</label>
								<div class="two fields">
									<div class="field">
										<select name="department" id="department" class="ui dropdown">
											<option value="">Seleccionar</option>
											{{#each departments}}
												<option value="{{name}}">{{name}}</option>
											{{/each}}
										</select>
									</div>
									<div class="field">
										<select name="position" id="position" class="ui dropdown">
											<option value="">Seleccionar...</option>
											{{#each positions}}
												<option value="{{name}}">{{name}}</option>
											{{/each}}
										</select>
									</div>
								</div>	
							</div>
						</div>				
					</div>
				</div>	
			</form>
		</div>
	</div>
</template>