<template name="clientAddresses">
	<form class="ui form" id="address">
		<div class="fields">
			<div class="four wide field">
				<div class="ui fluid search selection dropdown" id="country">
					<input type="hidden" name="country">
					<i class="dropdown icon"></i>
					<div class="default text">Seleccionar...</div>
					<div class="menu">
						{{#each countries}}
							<div class="item" data-value="{{name}}"><i class="{{abbreviation}} flag"></i>{{capitalize esp_name}}</div>
						{{/each}}
					</div>
				</div>
			</div>
			<div class="three wide field">	
				<input type="text" name="city" placeholder="Ciudad">
			</div>
			<div class="three wide field">
				<input type="text" name="street" placeholder="Calle">
			</div>
			<div class="six wide field">
				<input type="text" name="address_text" placeholder="Dirección Completa">
			</div>
		</div>
		<a href="#" class="ui right labeled icon positive button" id="add_address"><i class="plus icon"></i>Agregar</a>
	</form>
	<table class="ui blue compact celled table">
		<thead>
			<tr>
				<th>País</th>
				<th>Cuidad</th>
				<th>Calle</th>
				<th>Dirección</th>
			</tr>
		</thead>
		<tbody>
			{{#each address}}
				<tr>
					<td>{{{countryData country}}}</td>
					<td>{{city}}</td>
					<td>{{street}}</td>
					<td>{{address_text}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</template>