<template name="listClients">
	<div class="ui stackable centered grid">
		<div class="ui fourteen wide column">
			<h1 class="ui header">Clientes</h1>
			<a href="{{pathFor 'newClient'}}" class="ui primary button">
				<i class="icon add user"></i>
				Nuevo Cliente
			</a>
			<table class="ui blue celled table">
				<thead>
					<th>Tipo Cliente</th>
					<th>Nombre</th>
					<th>Email</th>
					<th>País</th>
					<th>Fecha de alta</th>
					<th>Fecha modificación</th>
				</thead>
				<tbody>
					{{#each clients}}
						<tr>
							<td>{{clientType}}</td>
							<td class="selectable"><a href="{{pathFor 'updateClient'}}">{{businessName}}</a></td>
							<td>{{email}}</td>
							<td>{{{countryData country}}}</td>
							<td>{{formatDate createdDate}}</td>
							<td>{{formatDate modifyDate}}</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</template>