<template name="listClients">
	<div class="ui stackable centered grid">
		<div class="ui sixteen wide column">
			<h2 class="ui header">
				Clientes
				<a href="{{pathFor 'newClient'}}" class="ui primary button">
					<i class="icon add user"></i>
					Nuevo Cliente
				</a>
			</h2>
			<div class="ui blue stacked segment">
				<form class="ui form">
					<div class="fields">
						<div class="six wide field">
							<div class="fields">
								<div class="ui icon input">
									<input type="text" placeholder="Buscar..." id="search" name="search">
									<i class="search icon"></i>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			{{#if clients.count}}
				<div class="ui four stackable cards">
					{{#each clients}}
						<div class="blue card">
							<div class="content">
								<a href="{{pathFor 'updateClient'}}" class="header">{{businessName}}</a>
								<div class="meta">{{clientType}}</div>
								<div class="description">{{{countryData country}}}</div>
								<div class="description"><i class="mail icon"></i>{{email}}</div>
								<div class="meta"><i class="add user icon"></i> {{formatDate createdDate}}</div>
								<div class="meta"><i class="edit icon"></i>{{formatDate modifyDate}}</div>
							</div>
						</div>
					{{/each}}
				</div>
<!--				<table class="ui blue celled table">
					<thead>
						<th>Tipo Cliente</th>
						<th>Nombre</th>
						<th>Email</th>
						<th>País</th>
						<th>Fecha de alta</th>
						<th>Fecha modificación</th>
					</thead>
					<tbody>
						{{#each clients}}
							<tr>
								<td>{{clientType}}</td>
								<td class="selectable"><a href="{{pathFor 'updateClient'}}">{{businessName}}</a></td>
								<td>{{email}}</td>
								<td>{{{countryData country}}}</td>
								<td>{{formatDate createdDate}}</td>
								<td>{{formatDate modifyDate}}</td>
							</tr>
						{{/each}}
					</tbody>
				</table> -->
			{{else}}
				<div class="ui piled segment">
					<p>
						<i class="warning sign icon"></i>
						Lo sentimos, resultados no encontrados
					</p>
				</div>
			{{/if}}
		</div>
	</div>
</template>