<template name="newClient">
	<div class="ui stackable centered grid">
		<div class="ui twelve wide column">
			<form class="ui form">
				<div class="ui blue stacked segment">
					<h4 class="ui dividing header">
						Nuevo Cliente
					</h4>
					<div class="field">
						<div class="three fields">
							<div class="field">
								<label for="clientType">Tipo de Cliente</label>
								<div class="ui fluid selection dropdown" id="clientType">
									<input type="hidden" name="clientType">
									<i class="dropdown icon"></i>
									<div class="default text">Seleccionar...</div>
									<div class="menu">
										{{#each clientTypes}}
											<div class="item" data-value="{{name}}"><i class="{{icon}} icon"></i>{{name}}</div>
										{{/each}}
									</div>
								</div>
							</div>
						</div>
					</div>
					{{#if isEqual currentType 'Natural'}}
						{{> naturalClient}}
						<a href="#" class="ui right labeled icon button cancel"><i class="ban icon"></i>Cancelar</a>
						<a href="#" class="ui right labeled icon primary button approve"><i class="save icon"></i>Guardar</a>
					{{else}}
						{{#if isEqual currentType 'Jurídica'}}
							{{> legalClient}}
							<a href="#" class="ui right labeled icon button cancel"><i class="ban icon"></i>Cancelar</a>
							<button type="submit" class="ui right labeled icon primary button"><i class="save icon"></i>Guardar</button>
						{{/if}}		
					{{/if}}				
				</div>
			</form>
		</div>
	</div>
	{{{ confirmation 'cancel' 'Creación cancelada' 'Desea salir sin guardar el cliente creado?<br>Los datos se perderán...' 'warning circle' }}}
	{{{ confirmation 'save' 'Nuevo cliente' 'Desea guardar los cambios creados? <br> Se creara un nuevo cliente...' 'save'}}}
</template>