<template name="newDepartment">
	<form class="ui form">
		<div class="ui stacked segment">
			<h4 class="ui dividing header">Datos Generales</h4>
			<div class="fields">
				<div class="eight wide field">
					<label>Nombre</label>
					<input type="text" name="name" id="name" placeholder="Departamento...">
				</div>
				<div class="four wide field">
					<label>Abreviatura</label>
					<input type="text" name="abbreviation" id="abreviation" placeholder="Abreviatura...">
				</div>
				<div class="four wide field">
					<br>
					<input type="submit" class="ui large button primary" value="Guardar">
				</div>
			</div>
		</div>
		<div class="ui error message"></div>
	</form>
</template>