<template name="appHeader">
	<nav>
		<div class="ui stackable top menu">
			<a href="{{pathFor 'appHome'}}" class="header item">Chimera</a>
			<a class="item" id="toggle">
				<i class="icon sidebar"></i>
				Menu
			</a>
			<div class="right menu">
				<div class="ui dropdown item">{{currentUserEmail}}
					<i class="dropdown icon"></i>
					<div class="menu">
						<a href="{{pathFor 'editProfile'}}" class="item">Perfil</a>
						<div class="item" id="logout">Cerrar Sesión</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
</template>