<template name="newProfile">
	<div class="ui stackable centered grid">
		<div class="ui twelve wide column">
			<div class="ui form">
				<div class="ui stacked segment">
					<h4 class="ui dividing header">Datos Personales</h4>
					<div class="field">
						<label>Nombre Completo</label>
						<div class="two fields">
							<div class="field">
								<input type="text" id="forenames" name="forenames" placeholder="Nombres">
							</div>
							<div class="field">
								<input type="text" id="surnames" name="surnames" placeholder="Apellidos">
							</div>
						</div>
					</div>
					<div class="field">
						<label>Telefonos de Contacto</label>
						<div class="three fields">
							<div class="field">
								<div class="ui left icon input">
									<input type="tel" id="mobile_tel" name="mobile_tel" placeholder="Celular">
									<i class="mobile icon"></i>
								</div>
							</div>
							<div class="field">
								<div class="ui left icon input">
									<input type="tel" id="office_tel" name="office_tel" placeholder="Oficina">
									<i class="building outline icon"></i>
								</div>
							</div>
							<div class="field">
								<div class="ui left icon input">
									<input type="tel" id="home_tel" name="home_tel" placeholder="Domicilio">
									<i class="home icon"></i>
								</div>	
							</div>
						</div>
					</div>
					<div class="field">
						<div class="three fields">
							<div class="field">
								<label for="sex">Sexo</label>
								<div class="ui fluid selection dropdown" id="sex">
									<input type="hidden" name="sex" >
									<i class="dropdown icon"></i>
									<div class="default text">Seleccionar...</div>
									<div class="menu">
										{{#each sexes}}
											<div class="item" data-value="{{name}}"><i class="{{icon}} icon"></i>{{name}}</div>
										{{/each}}
									</div>
								</div>
							</div>
							<div class="field">
								<label for="department">Departamento</label>
								<select name="department" id="department" class="ui dropdown">
									<option value="">Seleccionar...</option>
									{{#each departments}}
										<option value="{{name}}">{{name}}</option>
									{{/each}}
								</select>
							</div>
							<div class="field">
								<label for="position">Cargo</label>
								<select name="position" id="position" class="ui dropdown">
									<option value="">Seleccionar...</option>
									{{#each positions}}
										<option value="{{name}}">{{name}}</option>
									{{/each}}
								</select>
							</div>

						</div>
					</div>
					<input type="submit" class="ui primary button" value="Guardar Perfil">
				</div>
			</div>
		</div>
	</div>
</template>