<template name="newLawyer">
	<div class="ui stackable centered grid">
		<div class="ui twelve wide column">
			<form class="ui form">
				<div class="ui stacked segment">
					<h4 class="ui dividing header">
						Nuevo Abogado
					</h4>
					<div class="field">
						<label>Nombre Completo</label>
						<div class="two fields">
							<div class="field">
								<input type="text" name="forenames" placeholder="Nombres">
							</div>
							<div class="field">
								<input type="text" name="surnames" placeholder="Apellidos">
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>